* {
    font-family: "Roboto";
}

html, body {
    color: #1F2937;
    font-size: 16px;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

header {
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
}

.hero-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}
